<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/staticFiles/main.css">
</head>
  <body>
    <h1>Predicting the number of fingers!!</h1>
   <!-- <p style="color:blue;">Choose image file to upload</p> -->

    <!-- <form method="POST" enctype="multipart/form-data" action="/" target = '_self'>
        <input type="file" id="myFile" name="uploaded-file" accept=".jpg">
        <input type="submit" value="Submit">
    </form> -->


    <!-- <form method="get" enctype="multipart/form-data" action="/take_pic" target = '_self'>
                  <input type="submit" value="Camera">
     </form>  -->

     <form method="post" action="{{ url_for('tasks') }}">
      <input type="submit" value="Stop/Start" name="stop" />
      <input type="submit" value="Capture" name="click"/>
      </form>

      <img src="{{ url_for('video_feed') }}" height="30%">
      <h3 style="font-family:courier;">Instructions:</h3>
      <ol style="font-family:courier;">
      <li>Stop/Start--Toggle between stop or start live streaming</li>
      <li>Capture--Take still-shot and save in the 'shots' directory</li>

      <p>Prediction from our model for your image : {{pred}} </p>

  <br>
  <br>
  <br>


  </body>


</html>