<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/staticFiles/main.css">
  <title>The page to show result</title></head>

  <title>The page to show result</title>

  <body>

    <h1>Predicting the number of fingers!!</h1>
    <p style="color:green;">File upload successful</p>

    
    <img src= {{user_image}} alt={{user_image}} width=500 >


    <p>Prediction from our model for your image : {{ pred }}</p>


  <form action="/" >
        <input type="submit" value="New Image" />
    </form>


  </body>
</html>